* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.customers {
    width: 1508px;
 
    
}
.customers--title {
   
    text-align: center;
    vertical-align: middle;
    font-family: Raleway;
    font-style: Regular;
    line-height: 36px;
    font-size: 400;
    line-height: 42px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 50px auto;
    color: black;
}
.divider--solid {
    display: block;
    width: 10%;
    border: 1px solid #EC7979;
    margin-left: auto;
    margin-right: auto;

    }
.customers--title--info {
    width: 1169px;
    height: 21px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    text-align: center;
    margin: 40px auto;
    }    
.flex--container {
    width: 1500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}    
.customers--quote--madsen {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    margin: 83px 15px auto 170px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    position: relative;
}    
.customers--madsen--dir {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 240px;
    bottom: 245px;
}

    .customers--quote--rosser {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 83px 15px auto 15px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    position: relative;
}
.customers--rosser--dir {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 640px;
    bottom: 245px;
}
.customers--quote--dorwart {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 83px 170px auto 15px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    position: relative;
}
.customers--dorwart--dir {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 1040px;
    bottom: 245px;
}
.customers--madsen {
    width: 70px;
    height: 70px;
    margin: 66px auto 84px 170px;
 
}
.madsen--name {
    width: 269px;
    height: 54px;
    color: black;
    font-family: Open Sans;
    font-style: Bold;
    font-size: 24px;
    line-height: 33px;
    line-height: 100%;
   
}
.madsen--position {
   width: 270px;
   height: 21px;
   font-family: Raleway;
   font-style: Regular;
   font-size: 18px;
   line-height: 21px;
   line-height: 100%;
}
.customers--rosser {
    width: 70px;
    height: 70px;
    margin: 66px auto 84px 30px;
}