* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.customers {
    width: 1508px;

}
.customers--title {
   
    text-align: center;
    vertical-align: middle;
    font-family: Raleway;
    font-style: Regular;
    line-height: 36px;
    font-weight: 400;
    line-height: 42px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 50px auto;
    color: black;
}
.divider--solid {
    display: block;
    width: 10%;
    border:  1px solid #EC7979;
    background-color: #EC7979;
    margin-left: auto;
    margin-right: auto;

    }
.customers--title--info {
    width: 1169px;
    height: 21px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    line-height: 100%;
    text-align: center;
    margin: 40px auto;
    }    
.flex--container {
    width: 1500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}    
.customers--quote--madsen {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    margin: 83px 15px auto 170px;
    position: relative;
}    
.quote--all--customers {
    width: 370px;
    height: 115px;
    margin: 50px auto 38px auto;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    line-height: 100%;
}
.customers--madsen--dir {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 240px;
    bottom: 432px;
}

    .customers--quote--rosser {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 83px 15px auto 15px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    position: relative;
}
.customers--rosser--dir {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 640px;
    bottom: 432px;
}
.customers--quote--dorwart {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 83px 170px auto 15px;
    color: #86878B;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    position: relative;
}
.customers--dorwart--dir {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 1040px;
    bottom: 432px;
}

.customers--info {
   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.customers--info--madsen {
    width: 70px;
    height: 70px;
    margin: 66px auto 84px 170px;   
    position: relative;
 
}
.customers--info--name {
    width: 269px;
    height: 54px;
    color: black;
    font-family: Open Sans;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    line-height: 100%;
    position: absolute;
    bottom: 5px;
    left: 90px;
   
}
.customers--info--position {
   width: 270px;
   height: 21px;
   font-family: Raleway;
   font-style: Regular;
   font-size: 18px;
   line-height: 21px;
   line-height: 100%;
   font-weight: 400;
   position: absolute;
   bottom: 5px;
   left: 90px;
}
.customers--info--rosser {
    width: 70px;
    height: 70px;
    margin: 66px 300px 84px 31px;
    position: relative;
   
}

.customers--info--dorwart {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 66px 470px 84px 30px; 
    
}
.design {
    width: 1510px;
    height: 442px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./imagebg2\.jpg)
    
}
.title--design {
    width: 1170px;
    height: 150px;
    font-family: Raleway;
    font-style: Regular;
    font-size: 36px;
    line-height: 42px;
    line-height: 100%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin: 50px 171px auto 169px;
    padding-top: 100px;
}
.devider--design {
    width: 170px;
    margin: 50px 670px auto 670px;
}
.info--design {
width: 1169px;
height: 21px;
font-family: Raleway;
font-style: Regular;
font-size: 18px;
line-height: 21px;
line-height: 100%;
font-weight: 400;
color: #FFFFFF;
text-align: center;
margin-top: 50px;
margin-left: 170px;
}
.button--design {
    width: 370px;
    height: 58px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 73px;
    margin-left: 570px;
    border: 2px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
} 