* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title {
    width: calc (1170px + 15px*2);
    height: 1026 px;
}
.title--navigation {
    width: 100%;
    background-image: url(./image\ bg.jpg);
    width: 1510px;
    height: 1026px;
   
     
}
.title--navigation--menu {
    width: 1510px;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #000000;
    
   
}
.title--navigation--logo {
   margin-top: 25px;
   margin-left: 115px;
   
}


.title--navigation--list{    
width: 600px;
height: 75px;
margin-top: 30px;
margin-left: 567px;

}
.title--navigation--info {
width: 113.8px;
height: 75px;
text-align: right;
display: inline-block;

}

.naviganion--button--info {
    font-family: Open Sans;
    font-style: Semibold;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
   
  
  
}
.title--logo--first {
    margin: 231px 0px 665px 170px;
  
}
.title--logo--second {
    margin-right: 1170px;
    margin-bottom: 665px;
    margin-left: 0px;
    position: relative;
}
.main--title {
    width: 670px;
    height: 168px;
    position: absolute;
    bottom: 250px;
    left: 170px;
    font-family: Raleway;
    font-style: Medium;
    font-size: 48px;
    line-height: 56px;
    line-height: 100%;
    font-weight: 500;
    color: #FFFFFF;
}
.divider--solid {
    position: absolute;
    border: 3px solid #FFFFFF;
    bottom: 200px;
    left: 170px;
}
.title--info--about {
    width: 270px;
    height: 42px;
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    left: 170px;
    bottom: 110px;
}
.download {
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.1);
    font-family: Open Sans;
    font-style: Semibold;
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 170px;
    bottom: 30px;
     
}
.back--info {
    width: 1510px;
    height: 140px;
}
.back--info-media {
    width: 1510px;
    height: 140px;
    background-color: #F8EFEF;
}
.info--media--title {
    width: 470px;
    height: 60px;
    font-family: Open Sans;
    font-style: Bold;
    font-size: 24px;
    line-height: 33px;
    line-height: 100%;
    font-weight: 700;
    text-align: left;
    margin-left: 170px;
    padding-top: 20px;
    position: relative;
}
.info--media--about {
    width: 470px;
    height: 42px;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    font-weight: 400;
    color: #86878B;
    text-align: left;
    margin-left: 170px;
}
.info--media--link {
    width: 638px;
    height: 58px;
    display: inline-block;
   
    
}
.media--link--facebook {
    width: 30.32px;
    height: 55.42px;
    position: absolute;
    left: 689.84px;
    
 
}