* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title {
    width: 1510px;
    height: 1026 px;
    background-image: url(./image\ bg.jpg);
    background-color: rgba(0, 0, 0, 0.5);
}
.title--navigation {
    width: 1510px;
    width: 100%;
    height: 75px;
   
     
}
.title--navigation--menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #000000;
    
   
}
.title--navigation--logo {
   margin-top: 25px;
   margin-left: 115px;
   
}


.title--navigation--list{    
width: 600px;
height: 75px;
margin-top: 30px;
margin-left: 550px;

}
.title--navigation--info {
width: 113.8px;
height: 75px;
text-align: right;
display: inline-block;

}

.naviganion--button--info {
    font-family: Open Sans;
    font-style: Semibold;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
   
  
}
.title--info {
width: 1510px;
height: 1026px;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}
.title--logo--first {
   margin-top: 223px;
   margin-left: 170px;
  
}
.title--logo--second {
    
   
}
.main--title {
    width: 670px;
    height: 168px;
    margin-top: 72px;
    margin-left: 170px;
    font-family: Raleway;
    font-style: Medium;
    font-size: 48px;
    line-height: 56px;
    line-height: 100%;
    font-weight: 500;
    color: #FFFFFF;
}
.divider--solid {
    border: 1px solid #FFFFFF;
    width: 170px;
    margin-top: 55px;
    margin-left: 170px;
}
.title--info--about {
    width: 270px;
    height: 42px;
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 42px;
    margin-left: 170px;
    
}
.download {
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.1);
    font-family: Open Sans;
    font-style: Semibold;
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
   margin-top: 42px;
   margin-left: 170px;
     
}
.back--info {
    width: 1510px;
    width: 100%;
    height: 140px;
    
}
.back--info-media {
    width: 1510px;
    height: 140px;
    background-color: #F8EFEF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;


}
.info--media--title {
    width: 470px;
    height: 60px;
    font-family: Open Sans;
    font-style: Bold;
    font-size: 24px;
    line-height: 33px;
    line-height: 100%;
    font-weight: 700;
    text-align: left;
    margin-left: 170px;
    padding-top: 20px;
}
.info--media--about {
    width: 470px;
    height: 42px;
    font-family: Raleway;
    font-style: Regular;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    font-weight: 400;
    color: #86878B;
    text-align: left;
    margin-left: 170px;
}
.social--media--link {
    width: 638px;
    height: 58px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 170px;
   
    
}
.table {
width: 470px;
height: 450px;
border-radius: 10px;
display: flex;
flex-direction: column;
background-color: #FFFFFF;
margin-top: 208px;
margin-right: 170px;

}
.table--info {
    width: 367px;
    height: 90px;
    margin-left: 53px;
    margin-right: 50px;
    margin-top: 40px;
    font-family: Open Sans;
    font-style: Bold;
    font-size: 24px;
    line-height: 33px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
}

 .table--information--about {
    width: 370px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-top: 33px;
    margin-left: 50px;
   
 }   
   
.button--start {
width: 100%;
height: 60px;
margin-top: 75px;
color: #FFFFFF;
background-color: #EC7979;
border: none;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}


.social--media {
    text-decoration: none;  
}
.title--column--about {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
